<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Add</strong> Sub Category      
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Category Name</label>
          <div class="col-sm-4">
            <select class="form-control" id="select1" name="select1">
              <option value="0" ng-reflect-value="0">Select Category</option>
              <option value="1" ng-reflect-value="1">Option #1</option>
              <option value="2" ng-reflect-value="2">Option #2</option>
              <option value="3" ng-reflect-value="3">Option #3</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Sub Category Name</label>
          <div class="col-sm-4">
            <input type="text" id="input-normal" name="input-normal" class="form-control" placeholder="Sub Category Name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Description</label>
          <div class="col-sm-4">
            <input type="text" id="input-normal" name="input-normal" class="form-control" placeholder="Description">
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
 </div>
