<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Sub Category List

      <div class="card-header-actions">
        <a href="/#/subcategory/add">
          <i class="fa fa-plus-square fa-lg"></i>
        </a>
      </div>

    </div>
    <div class="card-body">
      <p>Sub Category List</p>
       
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: right;">Edit</th>
            <th style="text-align: right;">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><code class="highlighter-rouge">1</code></p>
            </td>
            <td><span class="h6">Category 1</span></td>
            <td style="text-align: center;"><span ><input type="checkbox" ></span></td>
            <td style="text-align: right;"><i class="fa fa-edit fa-lg"></i></td>
            <td style="text-align: right;"><i class="fa fa-remove fa-lg"></i></td>
          </tr>
          <tr>
            <td>
              <p><code class="highlighter-rouge">2</code></p>
            </td>
            <td><span class="h6">Category 2</span></td>
            <td style="text-align: center;"><span ><input type="checkbox" ></span></td>
            <td style="text-align: right;"><i class="fa fa-edit fa-lg"></i></td>
            <td style="text-align: right;"><i class="fa fa-remove fa-lg"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
