<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Sub Category List

      <div class="card-header-actions">
        <a href="/#/subcategory/add">
          <button type="button" class="btn btn-primary">
            Add &nbsp; <i class="fa fa-plus-square fa-lg"></i>
          </button>   
        </a>
      </div>

    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 82%;">Name</th>
            <th style="width: 5%;text-align: center;">Status</th>
            <th style="width: 5%;text-align: right;">Edit</th>
            <th style="width: 5%;text-align: right;">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Sub Category 1</td>
            <td style="text-align: center;"><span ><input type="checkbox" ></span></td>
            <td style="text-align: right;"><i class="fa fa-edit fa-lg"></i></td>
            <td style="text-align: right;"><i class="fa fa-remove fa-lg"></i></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Sub Category 2</td>
            <td style="text-align: center;"><span ><input type="checkbox" ></span></td>
            <td style="text-align: right;"><i class="fa fa-edit fa-lg"></i></td>
            <td style="text-align: right;"><i class="fa fa-remove fa-lg"></i></td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
 </div>
