<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Product List
      <div class="card-header-actions">
         
      </div>

    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 17%;">Order Number</th>
            <th style="width: 20%;">Book Name</th>
            <th style="width: 20%;">Customer Name</th>            
            <th style="width: 5%;">Currency</th>
            <th style="width: 15%;">Order Date</th>
            <th style="width: 10%;">Payment Status</th>
            <th style="width: 10%;text-align: right;">Paid Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Order_1</td>
            <td>Book 1</td>
            <td>Customer 1</td>            
            <td>Rs.</td>
            <td>13-04-2020</td>
            <td>Paid</td>   
            <td style="text-align: right;">500.00</td>          
          </tr>
          <tr>
            <td>2</td>
            <td>Order_1</td>
            <td>Book 1</td> 
            <td>Customer 2</td>           
            <td>Rs.</td>
            <td>13-04-2020</td>
            <td>UnPaid</td>   
            <td style="text-align: right;">500.00</td>          
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
 </div>
