<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Category
      <strong>Add</strong>
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Category Name</label>
          <div class="col-sm-4">
            <input type="text" id="input-normal" name="input-normal" class="form-control" placeholder="Category Name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Description</label>
          <div class="col-sm-4">
            <input type="text" id="input-normal" name="input-normal" class="form-control" placeholder="Description">
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
 </div>
